/*------------------------------*/

/* border: 3px solid red; */

/*------------------------------*/

* {
    margin: 0;
    padding: 0;
}

html {
    max-width: 1000px;
    font-family: Tahoma;
    font-size: 20px;
    margin: 0 auto;
}

/*HEADER---------------------------------------------------------------------------------------------------------------*/

header .container {
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
    padding: 20px 0;
    margin-bottom: 20px;
}

.headerNav ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    list-style: none;
}

.headerNav ul li a {
    text-decoration: none;
    color: black;
}


/*MAIN---------------------------------------------------------------------------------------------------------------*/
/*secOne------------------------------------------------------------------*/
main #secOne .container {
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    margin-bottom: 5px;
}

main article p {
    width: 100%;
    margin: 10px 10px 10px 0;
}

main figure {
    width: 100%;
    display: grid;
    justify-items: end;
    align-items: center;
}

main figure img {
    width: 75%;
}

/*secTwo------------------------------------------------------------------*/
main #secTwo .container {
    width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    margin-bottom: 20px;
}

.projects ul {
    list-style: none;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 40px;
}

.projects ul li a {
    text-decoration: none;
    color: black;
}

.skills figure {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(8, 1fr);
    margin-top: 10px;
}

.contact {
    margin-top: 300px;
    margin-bottom: 400px;
}

/*FOOTER---------------------------------------------------------------------------------------------------------------*/

footer {
    bottom: 0;
    margin-bottom: 5px;
}

/*QUERIES---------------------------------------------------------------------------------------------------------------*/


@media only screen and (max-width: 600px) {
    html {
        padding-left: 20px;
        padding-right: 20px;
    }
    main #secOne .container {
        grid-template-columns: 100%;
        grid-template-rows: 69% 31%;
        justify-items: center;
        text-align: justify;
    }
    main figure {
        width: 50%;
        justify-items: center;
        align-content: center;
    }
    main figure img {
        width: 100%;
    }
    main #secTwo .container {
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
    }
    .projects {
        margin-top: 30px;
    }
    .skills {
        margin-top: 30px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
    html {
        padding-left: 20px;
        padding-right: 20px;
    }
    main #secOne .container {
        grid-template-columns: 100%;
        grid-template-rows: 69% 31%;
        justify-items: center;
        text-align: justify;
    }
    main figure {
        width: 50%;
        justify-items: center;
        align-content: end;
    }
    main figure img {
        width: 100%;
    }
    main #secTwo .container {
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
    }
    .projects {
        margin-top: 30px;
    }
    .skills {
        margin-top: 30px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
    html {
        padding-left: 20px;
        padding-right: 20px;
    }
}