/*------------------------------*/

/* border: 3px solid red; */

/*------------------------------*/

* {
    margin: 0;
    padding: 0;
}

html {
    width: 1000px;
    font-family: Tahoma;
    font-size: 20px;
    margin: 0 auto;
}

/*HEADER------------------------------*/

header .container {
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
    padding: 20px 0;
}

.headerNav ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

.headerNav ul li a {
    text-decoration: none;
    color: black;
}

/*h1 {
    font-size: 2em;
}*/

/*MAIN------------------------------*/

main #secOne .container {
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
}

main article p {
    width: 100%;
    margin: 10px 10px 10px 0;
}

main figure {
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
}

main figure img {
    width: 75%;
}